@import '../../variables.scss';

.button {
  position: relative;
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  p {
    height: 50px;
    position: absolute;
    font-size: 60px;
    cursor: pointer;
    top: -29px;
    left: 8px;
  }
  &__normal {
    @extend .button;
    button {
      border: none;
      background: $button-secondary;
    }
    p {
      color: #ffffff;
    }
  }
  &__outline {
    @extend .button;
    button {
      background: $bg-white;
      border: 1px solid $button-border;
    }
  }
  @include mq('md') {
    &__normal {
      @extend .button;
      button {
        width: 80px;
        height: 50px;
        border-radius: 54px;
      }
      p{
        left: 23px;
      }
    }
    &__outline {
      @extend .button;
      button {
        width: 73px;
        height: 73px;
      }
      p {
        top: -18px;
        left: 19px;
      }
    }
  }
}