@import '../../variables.scss';

.checkbox{
  input {
    display: none;
  }
  label{
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  label::before{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 3px solid #366A8E;
    border-radius: 7px;
  }
  input:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 11px;
    width: 8px;
    height: 11px;
    transform: rotate(45deg);
    border-bottom: 2px solid $main;
    border-right: 2px solid $main;
  }
}
