@import '../../variables.scss';

.dropdown {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__test {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__icon,
  &__title {
    cursor: pointer;
  }
  &__title {
    color: $main;
    font-size: 24px;
    font-weight: 300;
  }
  
  &__cormorant,
  &__profile {
    position: absolute;
    top: 80px;
    left: -35px;
  }
  &__profile {
    top: 78px;
    left: -110px;
  }
  a {
    text-decoration: none;
  }
  li {
    text-align: center;
    font-size: 20px;
    color: $main;
    font-weight: 300;
    width: 170px;
    height: 50px;
    padding: 10px 0;
  }
  &__batsu {
    width: 15px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 15px;
      background: $main;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  @include mq('md') {
    &__icon {
      display: block;
    }
    li {
      display: none;
      box-shadow: -5px 5px 8px $light-grey;
      background: $bg-white;
      &:hover {
        background: $dropdown-primary;
      }
    }
    &:hover {
      li {
        display: block;
      }
    }
  }
}
