@import '../../variables.scss';

.link {
  display: block;
  list-style: none;
  font-size: 24px;
  font-weight: 300;
  height: auto;
  a {
    text-decoration: none;
    color: $main;
    &:hover {
      color: $main;
    }
  }
  @include mq('md') {
    &__underline {
      margin-top: 20px;
      height: 3px;
      width: 100%;
      background: $main;
      border-radius: 20px;
    }
  }
}
