@import '../../variables.scss';

.input {
  input {
    display: none;
  }
  &__label {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      // transform: translateY(-50%);
      // top: 50%;
    }
    &::before {
      background: $bg-white;
      border: 1px solid $main;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      left: 5px;
    }
    &::after {
      background: $main;
      border-radius: 50%;
      opacity: 0;
      width: 16px;
      height: 16px;
      left: 7px;
      top: 2px;
    }
    &_disabled {
      @extend .input__label;
      color: $light-grey;
      &::before,
      &::after {
        border: 1px solid $light-grey;
      }
    }
  }
  input:checked + label::after {
    opacity: 1;
  }
}
