@import '../../variables.scss';

.input {
  position: relative;
  width: 100%;
  height: 100%;
  &__container{
    label {
      font-size: 16px;
      padding-left: 10px;
    }
  }
  input,
  textarea {
    transition: all 0.3s ease-in-out;
    outline: none;
    width: 100%;
    border: 2px solid $main;
    color: $text-main;
    &:focus {
      border: 2px solid $secondary;
    }
    &::placeholder {
      color: #cecece;
    }
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #ffffff inset;
    }
  }
  input {
    height: 50px;
    border-radius: 30px;
    text-indent: 36px;
  }
  textarea {
    resize: none;
    padding: 12px 0 0 18px;
    border-radius: 20px;
  }
  &__icon,
  &__icon_error {
    position: absolute;
    top: 17px;
  }
  &__icon {
    left: 15px;
    &_error {
      right: 8px;
    }
    &_none {
      text-indent: 18px !important;
    }
  }
  p {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: $error-primary;
  }
  @include mq('md') {
    &__container {
      display: flex;
      label {
        font-size: 20px;
        width: 260px;
      }
    }
    
  }
}