@import '../../variables.scss';

.input {
  position: relative;
  label {
    font-size: 16px;
  }
  &__icon,
  &__icon_mandatory,
  &__icon_error {
    position: absolute;
    top: 17px;
  }
  &__icon {
    left: 15px;
    &_error {
      right: 8px;
    }
    &_none {
      text-indent: 18px !important;
    }
    &_mandatory {
      top: 5px;
      left: 40px;
    }
  }
  &__container {
    position: relative;
    width: 100%;
    p {
      position: absolute;
      right: 0;
      font-size: 12px;
      color: $error-primary;
    }
    &_full,
    &_midule {
      @extend .input__container;
      width: 330px;
    }
    input {
      height: 50px;
      border-radius: 30px;
      text-indent: 36px;
      transition: all 0.3s ease-in-out;
      outline: none;
      width: 100%;
      border: 2px solid $main;
      color: $text-main;
      &:focus {
        border: 2px solid $secondary;
      }
      &::placeholder {
        color: #cecece;
      }
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #ffffff inset;
      }
    }
  }
  @include mq('md') {
    display: flex;
    &__icon_mandatory {
      top: 17px;
      left: 50px;
    }
    label {
      display: flex;
      height: 50px;
      align-items: center;
      font-size: 20px;
      width: 220px;
    }
    &__container {
      &_full {
        width: 536px;
      }
      &_midule {
        width: 260px;
      }
    }
  }
}
